h1 {
font-family:"Megrim", cursive;
font-size: 60px;
text-align: center;

}

#csncenter {
    display: block;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p {
  text-align: center;

}
.secimg {
  width: 100px;
  height: 100px;
}

.secimgspa {
  width: 180px;
  height: 180px;
 
}

#contactus {

   text-align: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  color: #ddd;

  display: block;
  padding: 10px;
}

#findus  {
  text-align: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  color: #ddd;

  display: block;
  padding: 10px;
}

#formhorizontal{
    text-align: center;
}

ul.navbar {padding: 10px;
      background:black;
    }
.navbar li{
  display: inline;
  color:white;
  padding: 0px 10px 0px 10px;
 
  }

.navbar a {
  text-align: center;
  color:white;
 }
audio{
  position: right;
 }
