h1{
 	background-image: url("http://i.imgur.com/oeZ3C5X.jpg");
 	background-size: cover;
	font-family: 'Megrim', cursive;
 	font-size:80px;
 	text-align:center;
 }

p {
color: blue;
}


.body {
background-color: grey;

}

h2 {
  color: yellow;
}
